{#
/**
 * @file
 * Default theme page template.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">
    <header class="header">
      {{ page.header }}
    </header>
    <div id="main-wrapper" class="clearfix">
      <div id="main" class="layout-main clearfix">
        {% if logged_in %}
          <div class="panel panel-default pull-left-lg pull-left-md">
            <div class="panel-heading">
              <h3 class="panel-title">Development</h3>
            </div>
            <div class="panel-body">
              {{ page.development_sidebar }}
            </div>
          </div>
        {% endif %}
        {% if logged_in %}
          <div class="panel panel-default pull-right-lg pull-right-md">
            <div class="panel-heading">
              <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
              {{ page.admin_sidebar }}
            </div>
          </div>
        {% endif %}
        <main id="content" role="main">
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            {{ page.content }}
          </section>
        </main>
      </div>
    </div>
    <footer class="footer">
      {{ page.footer }}
    </footer>
  </div>
</div>
